table {
  width: 100%;
  border: 0;
  border-spacing: 0;
}
table td {
  padding: 2px 5px;
}
thead {
  background: #3700b3;
  color: white;
}
thead td:hover {
  cursor: pointer;
  background: #6200ee;
}
tbody tr:nth-child(even) {
  background: #eee;
}
